{% extends 'base.html' %}
{% block content %}
  <h2>{{ exam.title }}</h2>
  <form method="post">
    {% csrf_token %}
    {% for question in questions %}
      <div>
        <p>{{ forloop.counter }}. {{ question.text }}</p>
        <label><input type="radio" name="question_{{ question.id }}" value="A"> {{ question.option_a }}</label><br>
        <label><input type="radio" name="question_{{ question.id }}" value="B"> {{ question.option_b }}</label><br>
        <label><input type="radio" name="question_{{ question.id }}" value="C"> {{ question.option_c }}</label><br>
        <label><input type="radio" name="question_{{ question.id }}" value="D"> {{ question.option_d }}</label><br>
      </div>
    {% endfor %}
    <button type="submit">Submit</button>
  </form>
{% endblock %}