{% extends "admin/base_site.html" %}

{% block content %}

<h2>📤 Bulk Upload Questions - {{ exam.title }}</h2>

<form method="post">
  {% csrf_token %}

  <textarea name="bulk_text" rows="20" style="width:100%;font-family:monospace;">
Q: What is Python?
A) A snake
B) Programming Language
C) Movie
D) Game
ANS: B

Q: HTML full form?
A) Hyper Trainer Marking Language
B) Hyper Text Markup Language
C) Home Tool Markup Language
D) None
ANS: B
  </textarea>

  <br><br>

  <button type="submit" class="default">
    🚀 Upload Questions
  </button>

</form>

{% endblock %}